.balance{
    font-weight: bold;
    background: #435195;
    border-radius: 10px;
    padding: 10px;
}

.background-nav{
    width: 100%;
}

.background-header{
    background-color: #B127FC;
    height: 100px;
    padding: 10px;
}

.image-phoenix{
    width: 100px;
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
}

.brand-logo{
    padding: 2px;
}

.logo-name{
    align-self: center;
    font-weight: bold;
    color: whitesmoke;
}

.logo-header{
    display: flex;
}

.user-name{
    font-size: 30px;
    font-weight: bold;
}
