.balance{
    font-weight: bold;
    background-color: #8127fc;
    border-radius: 10px;
    padding: 10px;
    /*opacity: 80%;*/
}

.background-nav{
    width: 100%;
}

.background-header{
    /*background-color: rgba(0,212,255,1);*/
    background: linear-gradient(90deg, #B127FC 0%, #c05efc 90%);
    height: 100px;
    padding: 10px;
}

.image-phoenix{
    width: 100px;
    height: 80px;
    padding-right: 10px;
    padding-left: 10px;
}

.brand-logo{
    padding: 2px;
}

.logo-name{
    align-self: center;
    font-weight: bold;
    color: whitesmoke;
}

.logo-header{
    display: flex;
}

.user-name{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.id-wallet{
    padding-top: 15px;
    font-size: 1.4em;
    margin-left : 10px;
}

.wallet-greeting{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-image{
    align-self: center;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.all-transaction{
    overflow: scroll;
    height: 600px;
    width: 1000px;
}

table thead tr th:nth-child(1){
    background-color: #8127fc;
    border-top-left-radius: 20px;
}

table thead tr th:nth-child(1){
    background-color: #8127fc;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}

table thead tr th:nth-child(2){
    background-color: #8127fc;
    border-radius: 0;
}

table thead tr th:nth-child(3){
    background-color: #8127fc;
    border-radius: 0;
}

table thead tr th:nth-child(4){
    background-color: #8127fc;
    border-radius: 0;
}

table thead tr th:nth-child(5){
    background-color: #8127fc;
    border-radius: 0 20px 0 0;
    padding-right: 40px;
}

table thead th{
    text-align: center!important;
    color: white;
}

tbody{
    background-color: white;
    margin-left: 20px;
}

tr:nth-child(2n){
    background-color: lightgrey;
}

table tbody tr td{
    padding-left: 30px;
}

.clickableHeader:hover {
    background-color: #b78cfc;
    cursor: pointer;
}

main{
    padding-left: 17%;
}

.filter-section{
    display: flex;
    justify-content: flex-start;
}



