li a.active{
  background-color: #8127fc;
}

li a:hover{
  background-color: #b78cfc !important;
}

.dashboard__wallet, .transaction__form, .notification__success, .notification__failed {
  animation: animate-top 2s;
  position:relative;
}

.dashboard__wallet--card{
  background-image: url("../src/assets/images/background.jpg");
  padding: 10%;
  border-radius: 40px;
}
.dashboard__wallet--title{
  font-weight: bolder;
  font-size: 15px;
}
.dashboard__wallet--id{
  font-weight: bolder;
  font-family: OCR;
  font-size: 20px;
}
.dashboard__wallet--balance{
  font-weight: bolder;
  font-size: 30px;
}

tr{
  position: relative;
}

.last-transaction__card{
  background-color: #40c4ff;
  color: white;
  padding: 5%;
  border-radius: 10px;
}
.transaction .transaction__item:nth-child(1n) {
  position: relative;
  animation: animate-top 1s;
}

.divider{
  margin-bottom: 10px;
}
@keyframes animate-top {
  from {
    bottom: -30px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
